##  Add pandas to create dataframe from csv

In [1]:
import pandas as pd

## Read CSV Files

In [4]:
sales = pd.read_csv(
    'sales_data.csv',
    parse_dates=['Date'])

sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

## Encoding categorical features
<br/>
One-hot encoding

In [5]:
pd.get_dummies(sales,columns=['Country'],prefix='C')

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,...,Unit_Price,Profit,Cost,Revenue,C_Australia,C_Canada,C_France,C_Germany,C_United Kingdom,C_United States
0,2013-11-26,26,November,2013,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,...,120,590,360,950,0,1,0,0,0,0
1,2015-11-26,26,November,2015,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,...,120,590,360,950,0,1,0,0,0,0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,...,120,1366,1035,2401,1,0,0,0,0,0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,...,120,1188,900,2088,1,0,0,0,0,0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,New South Wales,Accessories,Bike Racks,...,120,238,180,418,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,England,Clothing,Vests,...,64,112,72,184,0,0,0,0,1,0
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Queensland,Clothing,Vests,...,64,655,528,1183,1,0,0,0,0,0
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Queensland,Clothing,Vests,...,64,655,528,1183,1,0,0,0,0,0
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,Seine (Paris),Clothing,Vests,...,64,684,576,1260,0,0,1,0,0,0
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,Seine (Paris),Clothing,Vests,...,64,655,552,1207,0,0,1,0,0,0

# Dummy encoding

In [9]:
pd.get_dummies(sales,columns=['Country'],drop_first=True,prefix='C')

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,...,Unit_Cost,Unit_Price,Profit,Cost,Revenue,C_Canada,C_France,C_Germany,C_United Kingdom,C_United States
0,2013-11-26,26,November,2013,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,...,45,120,590,360,950,1,0,0,0,0
1,2015-11-26,26,November,2015,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,...,45,120,590,360,950,1,0,0,0,0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,...,45,120,1366,1035,2401,0,0,0,0,0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,...,45,120,1188,900,2088,0,0,0,0,0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,New South Wales,Accessories,Bike Racks,...,45,120,238,180,418,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,England,Clothing,Vests,...,24,64,112,72,184,0,0,0,1,0
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Queensland,Clothing,Vests,...,24,64,655,528,1183,0,0,0,0,0
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Queensland,Clothing,Vests,...,24,64,655,528,1183,0,0,0,0,0
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,Seine (Paris),Clothing,Vests,...,24,64,684,576,1260,0,1,0,0,0
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,Seine (Paris),Clothing,Vests,...,24,64,655,552,1207,0,1,0,0,0

# One-hot vs dummies

* One-hot encoding: Explainable features
* Dummy encoding: Necessary information without duplication

# Limiting your coulmns

In [11]:
counts = sales['Country'].value_counts()
print(counts)

United States     39206
Australia         23936
Canada            14178
United Kingdom    13620
Germany           11098
France            10998
Name: Country, dtype: int64

* Find index of sample that have number of country less than 5
* Convert theme to Other

In [14]:
mask = sales['Country'].isin(counts[counts<5].index)
sales['Country'][mask] = 'Other'

C:\Users\lammi\anaconda3\envs\DataMining\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
sales.value_counts('Product')

Product
Water Bottle - 30 oz.      10794
Patch Kit/8 Patches        10416
Mountain Tire Tube          6816
AWC Logo Cap                4358
Sport-100 Helmet, Red       4220
                           ...
Mountain-100 Silver, 48       58
Mountain-100 Silver, 42       54
Mountain-500 Silver, 48       40
Road-650 Red, 52              32
Mountain-500 Black, 52        22
Length: 130, dtype: int64